	
	.field
	{
		width: 320px;
		height: 0px;
		
		position: relative;
		
		margin: 0 auto;
		
		z-index: 4;
	}
	
	.field-area, .enemy-area, .portal-area, .player-area, .fieldEdge
	{
		width: 320px;
		height: 2000px;
		
		position: absolute;
	}
	
	.fieldEdge
	{
		width: inherit;
		z-index: 3;
	}
	
	.fieldEdge-T, .fieldEdge-B
	{
		width: inherit;
		height: 40px;
		
		position: absolute;
		
		left: 0px;
	}
	
	.fieldEdge-R, .fieldEdge-L
	{
		width: 40px;
		height: inherit;
		
		position: absolute;
		
		top: 0px;
	}
	
	.fieldEdge-T
	{
		top: -40px;
	}
	
	.fieldEdge-B
	{
		bottom: -40px;
	}
	
	.fieldEdge-R
	{
		right: -40px;
	}
	
	.fieldEdge-L
	{
		left: -40px;
	}
	
	.player-area
	{
		z-index: 3;
		
/*
		-webkit-transition	: opacity 0.5s ease;
		transition 		 	: opacity 0.5s ease;
*/
	}
	
	.field-area
	{
		z-index: 1;
	}
	
	.portal-area
	{
		z-index: 2;
	}
	
	.enemy-area
	{
		z-index: 2;
	}
	
	.woodland-areas
	{
		width: inherit;
		height: inherit;
		
		position: absolute;
		left:0; top:0; right:0; bottom:0;
		
		
		z-index: 1;
	}
	
	.field-floor
	{
		width: 320px;
		height: 2000px;
		
		position: absolute;
		
		/* background: #dfdfd5; */
	
		z-index: 0;
	}
	
	.field-floor > div
	{
		width: inherit;
		height: inherit;
	}
	
	.field-floor-default
	{
		background: #dfdfd5;
	}
	
	#space
	{
		width: 100%;
		height: 100%;
				
		overflow: hidden;
				
		position: absolute;
				
		z-index: 1;	
	}
	
	#space .weather-wind
	{
		width: inherit;
		height: inherit;
		
		position: absolute;
		
		z-index: 0;
	}
	
	#space .weather-rain
	{
		width: inherit;
		height: inherit;
		
		position: absolute;
		
		z-index: 0;
		
	}
	
	#space .weather-snow
	{
		width: inherit;
		height: inherit;
		
		position: absolute;
		
		z-index: 0;
		
	}
	
	
	
	
/* ------------------------------------------------------------------- CLEARING */
/* ------------------------------------------------------------------- CLEARING */

	.clearing_1x1
	{
		width: 80px;
		height: 80px;
		
		position: absolute;
	}
	
	
	.clearing_2x2
	{
		width: 160px;
		height: 160px;
		
		position: absolute;
	}

	
	.woodland-clearing-floor
	{
		width: inherit;
		height: inherit;
		
		background: #dfdfd5;
		
		position: absolute;
		
		z-index: 0;
	}
	
	.flowerRichCross
	{
		width: 120px;
		height: 120px;
		
		position: absolute;
		
		top: 0; left: 0; right: 0; bottom: 0;
		
		margin: auto;
		
		z-index: 1;

	}
	
	.wolfGod
	{
		width: 24px;
		height: 36px;
		
		position: absolute;
		
		left: 0; right: 0; top: 0; bottom: 0;
		
		margin: auto;

		background-position: -182px 0px;
		
		z-index: 1;
	}
	
	.wolfGod .battleCute-eyes	
	{
		-webkit-transform	: translate(4px, 15px);
		transform			: translate(4px, 15px);
		
		z-index: 1;
	}


/* ------------------------------------------------------------------- CLEARING */
/* ------------------------------------------------------------------- CLEARING */
	