@charset "UTF-8";

@import url(general.css);

.pixels_touch-ui
{
	background-image: url(../_img/touch-ui_cross.svg);
	background-repeat: no-repeat;
	background-size: 160px 160px;
}

.pixels_touch-mini
{
	background-image: url(../_img/touch-ui_cross_min.svg);
	background-repeat: no-repeat;
	background-size: 40px 40px;
}


#touchPad
{
	width: 100%;
	height: 160px;
	
	position: absolute;
	
	left: 0;
	bottom: 20px;
	
	z-index: 100;
	
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

#touchPad div
{
	pointer-events: none;
}

#touchPad #touchPad_C
{
	width: 160px;
	height: 160px;
	
	position: absolute;
	
	top: 0; bottom: 0; left: 0; right: 0;
	
	margin: 0 auto;
	
	z-index: 0;
}

#touchPad #touchPad_C #touchPad-full
{
	width: inherit;
	height: inherit;
	
	pointer-events: auto;
	cursor: pointer;
	
	position: absolute;
	
	left: 0;
	top: 0;
	
	z-index: 2;
	
	background: rgba(0, 255, 0, 0.5);
}

#touchPad #touchPad_C .touchPad-cont
{
	width: 160px;
	height: 160px;
	
	position: absolute;
	
	-webkit-transform-origin	: 50% 50%;
	transform-origin			: 50% 50%;
	
	-webkit-transform: scale(0);
	transform: scale(0);
	
	opacity: 0;
	
	-webkit-transition	: all 0.5s ease;
	transition			: all 0.5s ease;	
	
	left: 0;
	top: 0;
	
	z-index: 1;
}

#touchPad #touchPad_C .touchPad-cont .touchPad-inner
{
	width: inherit;
	height: inherit;
	
	position: relative;
	
	-webkit-transform-origin	: 50% 50%;
	transform-origin			: 50% 50%;
	
	-webkit-transform	: rotate(45deg);
	transform			: rotate(45deg);
}


#touchPad #touchPad_C .touchPad-cont .touchPad-inner .touchPad-base
{
	width: 160px;
	height: 160px;
	
	position: absolute;
	
	background-position: 0 0;
	
	z-index: 1;
}

#touchPad #touchPad_C .touchPad-cont .touchPad-inner .touchPad-feedback
{
	width: 80px;
	height: 80px;
	
	position: absolute;
	
	background: rgba(183, 183, 173, 0.5);
	
	opacity: 0;
	
	-webkit-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;

	z-index: 0;
}

#touchPad #touchPad_C .touchPad-cont .touchPad-inner #touchPad-U-ind
{
	left: 0;
	top: 0;
	
	/* top left, top right, bottom right, bottom left */
	-webkit-border-radius: 80px 0 0 0;
	border-radius: 80px 0 0 0;
}

#touchPad #touchPad_C .touchPad-cont .touchPad-inner #touchPad-D-ind
{
	left: 80px;
	top: 80px;
	
	-webkit-border-radius: 0 0 80px 0;
	border-radius: 0 0 80px 0;
}

#touchPad #touchPad_C .touchPad-cont .touchPad-inner #touchPad-L-ind
{
	left: 0;
	top: 80px;
	
	-webkit-border-radius: 0 0 0 80px;
	border-radius: 0 0 0 80px;
}

#touchPad #touchPad_C .touchPad-cont .touchPad-inner #touchPad-R-ind
{
	left: 80px;
	top: 0;
	
	-webkit-border-radius: 0 80px 0 0;
	border-radius: 0 80px 0 0;
}

#touchPad #touchPad_C .touchPad-min
{
	width: 40px;
	height: 40px;
	
	position: absolute;
	
	left: 0; right: 0; top: 0; bottom: 0;
	
	margin: auto;
	
	opacity: 0;
	
	-webkit-transform-origin	: 50% 50%;
	transform-origin			: 50% 50%;
	
	-webkit-transform	: scale(0);
	transform			: scale(0);
	
	-webkit-transition	: all 0.5s ease;
	transition			: all 0.5s ease;
	
	z-index: 0;
}


